{% extends "base.html" %}

{% block title %} Login - LiveRecords {% endblock %}
{% block BODY_CLASS %} bg-light d-flex align-items-center justify-content-center vh-100 {% endblock %}
{% block MAIN_CLASS %} w-100 {% endblock %}

{% block content %}

<body
style="background-color:aliceblue !important; background-image:none !important">
</body>

<link href = "https://bootswatch.com/_vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

<div class = "container">
    <div class = "row justify-content-center">
        <div class = "col-12 col-sm-8 col-md-6 col-lg-4">
            <div class = "card shadow-sm border-0 px-3 py-4">
                
                <div class = "card-body">
                    <h3 class = "card-title text-center mb-3 fw-bold">Anmelden</h3>
                        
                        <form action="/login" method="post">
                        {{ form.hidden_tag() }}
                            <div class = "mb-3">
                                <label for = "email" class = "form-label small fw-semibold">Benutzername</label>
                                    {{ form.username(class="form-index form-control form-control-lg", id="username", placeholder="Benutzername") }}
                            </div>
                            
                            <div class = "mb-3">
                                <div class = "d-flex justify-content-between">
                                    <label for = "password" class="form-label small fw-semibold">Passwort</label>
                                    <a href="#" class = "small text-primary">Vergessen?</a>
                                </div>
                                    {{ form.password (class = "form-control form-control-lg", id="password", placeholder="******", required=True) }}
                            </div>  
                                    {{ form.submit (class = "btn btn-primary btn-lg w-100 fw-semibold mb-4", style = "background-color: blue;") }}
                        </form>

                        <div class = "text-center mb-3">
                            <p> Noch kein Konto? <a href = "{{ url_for('register')}}" class = "fw-semibold text-primary">Registrieren</a></p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
